html(lang="pt-br")
    - var nome ='Curso Front end'
    - var txt = false
    head
        title=nome
    body
        if txt
            header.
                testecompug #{nome} testecompug
        else
            div Nao txt